1) Развернуть у себя на компьютере/виртуальной машине/хостинге MongoDB и реализовать функцию, записывающую собранные вакансии в созданную БД
2) Написать функцию, которая производит поиск и выводит на экран вакансии с заработной платой больше введенной суммы
3*)Написать функцию, которая будет добавлять в вашу базу данных только новые вакансии с сайта

In [1]:
import sqlalchemy
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker
import csv
import pandas as pd
from sqlalchemy import create_engine

from sqlalchemy.types import Integer
from sqlalchemy.sql import select

In [2]:

engine = create_engine('sqlite://', echo=False)

In [3]:
df = pd.read_csv('/home/mikhail/Рабочий стол/Parsing_10/python_hh_2210_2.csv')
df = pd.DataFrame(df)
df.to_sql('users_vac', con=engine, dtype={"zp_min": Integer(), "zp_max" : Integer()})
engine.execute("SELECT * FROM users_vac").fetchall()
engine.table_names()

['users_vac']

In [4]:
metadata = MetaData()

vac_db = Table('users_vac', metadata, autoload=True, autoload_with=engine)
print(repr(vac_db))

Table('users_vac', MetaData(bind=None), Column('index', BIGINT(), table=<users_vac>), Column('name_vacancy', TEXT(), table=<users_vac>), Column('URL', TEXT(), table=<users_vac>), Column('name_company', TEXT(), table=<users_vac>), Column('zp_min', INTEGER(), table=<users_vac>), Column('zp_max', INTEGER(), table=<users_vac>), schema=None)

In [7]:
zp = int(input('минимальная зарплата: '))

минимальная зарплата: 200000

In [8]:

stmt = select([vac_db])

# stmt = stmt.where(vac_db.columns.zp_min > 100_000)
stmt = stmt.where(vac_db.columns.zp_min > zp)


connection = engine.connect()

results = connection.execute(stmt).fetchall()

for result in results:
    print(result.name_company, result.name_vacancy, result.zp_min)

ООО КВАНТПОРТРУС Junior Quantitative Researcher 250000
ООО КВАНТПОРТРУС Junior Quantitative Researcher 250000
 DataFork Data Engineering Team Lead (Python / C++) 300000
 ecomsolutions DevOps engineer 2500 USD
 Smart Development Ltd Senior QA Automation Engineer (Selenium) 2000 USD
 Smart Development Ltd Senior/Regular QA Manual Engineer 1500 USD
 Imhio Ltd Software Tester / QA Engineer 1300 USD
ИП Сметанин Владимир Анатольевич Программист в Германию 2800 EUR
 Insolar Solution Architect 270000